*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif
}

:root{
    /* primary color */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* natural color */
    --dark-gray: hsl(0, 0%, 59%);
}

body{
    background-color: lightblue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-area{
    width: min(90rem, 100%);
    height: 45rem;
    background-color: var(--dark-cyan);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* background img */
.bg_img-1, .bg_img-2{
    position: absolute;
    display: block;
    width: 65%;
}

.bg_img-1{
    top: -25rem;
    left: -15rem;
    min-width: 36rem;
}

.bg_img-2{
    bottom: -37rem;
    right: -12rem;
    min-width: 42rem;
}

/* card */
.card{
    width: min(22rem, 90%);
    z-index: 7;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.card_profile-img{
    position: absolute;
    width: 32%;
    min-width: 6.25rem;
    border: 5px solid #fff;
    border-radius: 50%;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
}

.card h1{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 4.5rem 0 .3rem 0;
}

.card > p{
    text-align: center;
    font-size: .7rem;
    letter-spacing: 1px;
    font-weight: 700s;
    color: var(--dark-gray);
    padding: 0 0 1.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card_bottom{
    display: flex;
    justify-content: space-evenly;
    padding: 1.75rem 0;
}

.btm_box {
    text-align: center;
}

.btm_box h2{
    font-size: 18px;
}

.btm_box p{
    font-size: .5rem;
    letter-spacing: 1px;
    margin-top: .3rem;
    color: var(--dark-gray);
}