*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif
}

:root{
    /* primary color */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* natural color */
    --dark-gray: hsl(0, 0%, 59%);
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

